
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .flex-container > div {
    margin: 30px;
    padding: 20px;
    font-size: 30px;
  }
  img:hover{
    background-color:black;
  }
  span{
    color:white
  }