p{
    font-family: "Vedana",Sans-serif;
    font-size: large;
    text-align: left;
    color:white;
}
a{
    color: white;
}
h1{
    font-family: "Copperplate", fantasy;
    color:rgb(150,150,150);
}
h2{
    font-family: "Copperplate", fantasy;
    color:rgb(150,150,150);
}
h3{
    font-family: "Copperplate", fantasy;
    color:rgb(150,150,150);
}
h4{
    font-family: "Copperplate", fantasy;
    color:rgb(150,150,150);
    text-align:center;
}